version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1


# Commands to run 

# docker-compose up
# docker ps

# docker exec -it kafka bash

# kafka-topics --list --bootstrap-server localhost:9092
# kafka-topics --bootstrap-server localhost:9092 --create --topic whatsapp_notification
# kafka-console-producer --topic whatsapp_notification --bootstrap-server localhost:9092
# kafka-console-consumer --topic whatsapp_notification --from-beginning --bootstrap-server localhost:9092
